body {
    margin: 0;
    padding: 0;
    background-color: #000;
    color: #fff;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.coming-soon {
    text-align: center;
}

h3, .social-links{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

h1 {
    background-image: url('bakcground.jpg');
    background-size: cover;
    background-position: center;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    font-size: 180px;
    text-transform: uppercase;
    letter-spacing: 6px;
}

h3 {
    font-size: 18px;
}

.middle-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.text-logo {
    font-size: 24px;
}

.social-links a {
    text-decoration: none;
    color: #fff;
    margin: 0 10px;
}
